@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Julius+Sans+One');

h2:hover {
    background-color: #1ABC9C;
    text-decoration-color: white
}

h1, h2 {
	font-family: 'Arbutus Slab', serif;
}

h1 {
	font-size: 24px;
	text-align: center;
}

h2 {
	font-size: 13px;
}

p {
	font-family: Arial, sans-serif;

}

h3 {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 15px;
	padding-bottom: 5px;
}

.links {

}

body {
	color: 
}

ul { 
	display:table; margin:0 auto;
	font-family: Arial, sans-serif;
	text-align: left;
	font-size: 15px;
}

.subheads {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 15px;
	padding-bottom: 5px;
	font-weight: bold;
}

#footer {
	padding-bottom: 80px
}