h1, h2 {
	font-family: Arial, sans-serif;
}
h1 {
	font-size: 24px;
	text-align: center;
}

p {
	font-family: "Courier New", monospace;

}

h3 {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 15px;
	padding-bottom: 5px;
}

.links {
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

background-colour {
	red;
}
}

ul { 
	display:table; margin:0 auto;
	font-family: Arial, sans-serif;
	text-align: left;
	font-size: 15px;
}

.subheads {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 15px;
	padding-bottom: 5px;
	font-weight: bold;
}