h1, h2 {
	font-family: Arial, sans-serif;
}
h1 {
	font-size: 24px;
	text-align: center;
}

p {
	font-family: "Courier New", monospace;
}

.links {
	padding: 2px;
}

h3 {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 15px;
	padding-bottom: 5px;
}